* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: #333;
  color: #f4f4f4;
  min-height: 100vh;
}

/* Header */
.hero {
  width: 100%;
  background: #fff;
  margin: 0 0 2rem 0;
  color: #000;
  font-weight: bold;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 5vh;
  padding: 1rem;

  align-items: center;
}

.hero a:visited {
  color: #000;
}

.hero-container .logo a {
  padding: 0.5rem 0.75rem;
}

.hero-container .logo a:hover {
  background: #333;
  color: #fff !important;
  border-radius: 0.5rem;
}

.hero nav ul {
  list-style: none;
}

.hero nav ul li {
  display: inline-block;
}

.hero a {
  text-decoration: none;
  color: #000;
  margin: 0 1rem;
}

.hero nav ul li a {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.hero nav ul li a:hover {
  background: #333;
  color: #fff;
}

.container {
  background-color: #333;
  color: #f4f4f4;
  min-height: 85vh;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  /* min-width: 300px; */
}

.hero-head {
  margin-bottom: 2rem;
}

.emoji-interpreter p {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.2rem;
}

.emoji-input {
  margin: 1rem 0;
  padding: 1rem;
  width: 80vw;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.emoji-input:focus {
  background: #f4f4f4;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  font-weight: bold;
}

.emoji-meaning {
  margin-bottom: 1rem;
}

.known-emojis {
  border-top: 1px dotted #fff;
  padding-top: 1rem;
  margin: 1rem;
}

.known-emojis h2 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.known-emojis-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.emoji-wrapper {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.emoji-wrapper:hover {
  transform: scale(1.2);
}

.known-emojis span.emojis {
  margin: 1rem;
  line-height: 2;
  font-size: 1.7rem;
  cursor: pointer;
}

/* .hovered {
  transform: scale(1.2);
} */

@media screen and (max-width: 500px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 5vh;
    padding: 1rem;
    align-items: center;
  }

  .hero-container .logo {
    margin-bottom: 1rem;
  }
}
